<h1>Current Player: {{ player }}</h1>

<div class="button-group">
  <button
    class="vs-human"
    [class.active]="gameMode === 'human'"
    (click)="setMode('human')"
  >
    Vs Human
  </button>
  <button
    class="vs-computer"
    [class.active]="gameMode === 'computer'"
    (click)="setMode('computer')"
  >
    Vs Computer
  </button>
</div>
<!-- <div class="start-game">
  <button class="start-game__button" (click)="newGame()">Start New Game</button>
</div> -->

@if (winner) {
<h2>{{ getWinnerMessage }}</h2>
} @if (isDraw) {

<div>
  <h2>The game is a draw!</h2>
</div>
}
<div class="container">
  @for (val of squares; track $index; let i = $index) {
  <app-box [value]="val" (click)="makeMove(i)"> </app-box>
  }
</div>
